<div class="topic-hd">
  <div class="topic-label">
	  < >
	</div>
  <span><%= title %></span>
</div>
<ul class="current_user_topic">
	<% topics.each do |topic| %>
		<li>
			<%= link_to topic.title, topic_path(topic) %>
			<div class="vote"><i class="vote-icon"></i><span><%= topic.votes.voters.count%></span></div>
			<div class="comment"><i class="comment-icon"></i><span><%= topic.comments_count %></span></div>
		</li>
	<% end %>
</ul>
