<div class="write-comment">

	<div class="write-field clearfix">
    <div id="comment_error_messages"></div>
    <%= form_for [commentable, Comment.new], remote: true do |f| %>
		  <%= image_tag(current_user.default_avatar) %>
      <%= f.text_area :content %>
		  <span>сэтгэгдэл бичээд <em>enter</em> дарна уу</span>
    <% end %>
	</div>
</div>
