  <!-- сэдэв ярих санал тавих -->

<div class="post-item-modal">
	<a href="#topic_modal" role="button" data-toggle="modal">
		<div class="create-topic">
			<span>Сэдэв нэмэх</span>
		</div>
	</a>
</div>
<div id="topic_modal" class="modal hide fade sedev" tabindex="-1" role="dialog" aria-labelledby="feedback_modal_label" aria-hidden="true">
	<%= form_for Topic.new, remote: true do |f| %>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="feedback_modal_label">Сэдэв үүсгэх</h3>
			</div>
			<div class="sedev_container">
				<div id="topic_error_messages"></div>
				<div id="feedback_notifications"></div>
					<div class="sedev_garchig">
						<label for="topic_title">
							<span>Гарчиг</span>
						</label>
						<%= f.text_field :title, id: "topic_title" %>
					</div>
				<%= f.text_area :content, class: "sedev_inf" %>
				<div class="sedev_buttons">
					<button class="tovch sedev_close" data-dismiss="modal" aria-hidden="true">Хаах</button>
					<%= f.submit "Илгээх", class: "tovch sedev_send" %>
				</div>
			</div>
		<% end %>
</div>