<div class="presenter">
  <%= image_tag(topic.speaker.default_avatar) %>
	<span><%= topic.speaker.name %></span>
  <%= link_to_if(user_signed_in? && topic.speaker.id == current_user.id, "", unassign_topic_path(topic), class: "remove", remote: true, method: :put) %>
</div>
