<div class="container_10 clearfix">

  <%= render 'new_topic' if user_signed_in? %>

  <% unless @topics.empty? %>
	  <div class="grid_10">
		  <div class="topic-list-title">
			  <span>Сэдвүүд</span>
		  </div>
		  <div class="topic-list" id="topic-list">
        <%= render partial: 'topic', collection: @topics %>
		  </div>
	  </div>
  <% end %>
</div>
<p id="back-top"><a href="#top"><span></span>Дээш очих</a></p>
