<li><a onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')" class="social-twitter" target="_blank" href="https://twitter.com/share?url=<%= url %>"></a></li>
<li><a class="social-facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?u=<%= url %>"></a></li>
<li><a onclick="return !window.open(this.href, 'GooglePlus', 'width=640,height=300')" href="https://plus.google.com/share?url=<%= url %>" class="social-google_oauth2" target="_blank"></a></li>
<li><a href="javascript:void(0)" class="topic-more"></a></li>