<div class="container_10 clearfix">
  <div class="grid_10">

	  <div class="grid_7 alpha">
		  <!-- begin left content -->
		  <div class="left-content">
        <%= render partial: 'posts/post', locals: { post: latest_post } unless latest_post.nil? %>	
		  </div>
		  <!-- end left content -->
	  </div>

	  <div class="grid_3 omega">
		  <!-- begin right content -->
		  <div class="right-content clearfix">
				<%= render 'next_event' %>
			</div>
		  <!-- end right content -->
	  </div>

  </div>
</div>
