<div class="comment-container">

  <%= render 'new_comment' if user_signed_in? %>

	<div class="comment-list" id="comment-list">
    <%= render partial: 'comment', collection: event.comments %>
	</div>
</div>
