<li class="box">
  <div class="event-up clearfix">
    <div class="event-title"> <%= link_to event.title, event_path(event) %></div>
		<div class="event-info">
			<span><i class="date"></i><%= I18n.localize(event.date, format: :short) %></span>
			<span><i class="icon-location"></i>emphaty төв 4 давхарт</span>
			<span><i class="comment"></i><%= event.comments_count %> сэтгэгдэл</span>
		</div>
  </div>
	<div class="event-body">
		<ul class="event-topics">
			<%= render partial: 'topic', collection: event.topics %>
		</ul>
	</div>
</li>
