<li>
	<div class="speaker"> <%= link_to image_tag(topic.user.default_avatar), "", { rel: 'tooltip', title: topic.user.name } %> </div>
	<div class="speaker-topic">
		<%= link_to topic.try(:title), topic_path(topic) %>
		<span> <%=  topic.cached_votes_total %> санал авсан </span>
	</div>
</li>



