<div class="container_10 clearfix">
  <div class="grid_10">
    <ul id="event-list">
      <%= render partial: 'event', collection: @events %>
    </ul>

    <p id="back-top">
      <a href="#top"><span></span>Дээш очих</a>
    </p>
  </div>
</div>
<script>
$(function(){
  $.moru = {
    event_list: $('#event-list')
  };
  infinity_pagination('<%= events_path %>', <%= @events.num_pages %>);
});
</script>
