<div class="container_10 clearfix">
  <div class="grid_10">
    <ul id="container">
     <!--  <% @events.each do |event| %>
        <li class="box">
          <div class="<%= cycle("odd", "even") %>"></div>
          <div class="event-up clearfix">
            <div class="event-title">
              <%= link_to event.title, event_path(event) %><br/>
              <span class="event-where"><i class="marker"></i> Empathy төв </span>
            </div>
            <div class="event-date">
              <span><%= I18n.localize(event.date, format: :short) %></span>
            </div>
          </div>
          <ul class="event-topics">
            <span>уулзалтанд яригдсан сэдэвүүд:</span>
            <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
            <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
            <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          </ul>
        </li>
      <% end %> -->
      <li class="box">
        1
        <div class="odd"></div>
        <div class="event-up clearfix">
          <div class="event-title">
            dfasdfasdfasdf</br>
            <span class="event-where"><i class="marker"></i> Empathy төв </span>
          </div>
          <div class="event-date">
            <span>dsfasdfasdfasdf</span>
          </div>
        </div>
        <ul class="event-topics">
          <span>уулзалтанд яригдсан сэдэвүүд:</span>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
        </ul>
      </li>
      <li class="box">
        2
        <div class="even"></div>
        <div class="event-up clearfix">
          <div class="event-title">
            dfasdfasfasdfasdfasdfasdf</br>
            <span class="event-where"><i class="marker"></i> Empathy төв </span>
          </div>
          <div class="event-date">
            <span>dsfasdfasdfasdf</span>
          </div>
        </div>
        <ul class="event-topics">
          <span>уулзалтанд яригдсан сэдэвүүд:</span>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
        </ul>
      </li>
      <li class="box">
        3
        <div class="odd"></div>
        <div class="event-up clearfix">
          <div class="event-title">
            dfasdfasfasdfasdfasdfasdf</br>
            <span class="event-where"><i class="marker"></i> Empathy төв </span>
          </div>
          <div class="event-date">
            <span>dsfasdfasdfasdf</span>
          </div>
        </div>
        <ul class="event-topics">
          <span>уулзалтанд яригдсан сэдэвүүд:</span>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
        </ul>
      </li>
      <li class="box">
        4
        <div class="even"></div>
        <div class="event-up clearfix">
          <div class="event-title">
            <a href="javascript:void(0)">
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas f asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas f asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas f asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas f asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas f asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
           asdf dfsadfas dfas fasd fas fa
         </a> </br>
            <span class="event-where"><i class="marker"></i> Empathy төв </span>
          </div>
          <div class="event-date">
            <span>dsfasdfassdf</span>
          </div>
        </div>
        <ul class="event-topics">
          <span>уулзалтанд яригдсан сэдэвүүд:</span>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
        </ul>
      </li>
      <li class="box">
        5
        <div class="odd"></div>
        <div class="event-up clearfix">
          <div class="event-title">
             <a href="javascript:void(0)">fasdfassdfasdfasdf
            sdfasdfa
            sdfasdfasdfasdfasdf
            asdfasdfasdfasdfa
            sdf
            asdf
            asdfasdsdfasdf
            asdfasdf
            asdfasdfasd
            fdf </a> </br>
            <span class="event-where"><i class="marker"></i> Empathy төв </span>
          </div>
          <div class="event-date">
            <span>dsfasdfasdfasdf</span>
          </div>
        </div>
        <ul class="event-topics">
          <span>уулзалтанд яригдсан сэдэвүүд:</span>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
        </ul>
      </li>
      <li class="box">
        6
        <div class="even"></div>
        <div class="event-up clearfix">
          <div class="event-title">
            <a href="javascript:void(0)">asd fasd</a>
            </br>
            <span class="event-where"><i class="marker"></i> Empathy төв </span>
          </div>
          <div class="event-date">
            <span>dsfasdfasdfasdf</span>
          </div>
        </div>
        <ul class="event-topics">
          <span>уулзалтанд яригдсан сэдэвүүд:</span>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
          <li> FRONTEND DEVELOPENT: +Bayarja Buyandelger </li>
        </ul>
      </li>
    </ul>

    <p id="back-top">
      <a href="#top"><span></span>Дээш очих</a>
    </p>
  </div>
</div>

