<h1>Events</h1>

<table border="1">
  <tr>
    <th>Title</th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.title, event_path(event) %></td>
    </tr>
  <% end %>
</table>
