<div class="container_10 clearfix" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<div class="grid_10">
		<div class="grid_7 alpha">
			<!-- begin left content -->
			<div class="left-content clearfix">
				<div class="event-view-container">
					<div class="event-content">
						<div class="event-map">
							<iframe width="620" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ll=47.924406,106.922041&amp;spn=0.002779,0.007725&amp;t=h&amp;z=18&amp;iwloc=0004d34ad183a7237804f&amp;msa=0&amp;msid=215856206744799561428.0004d34aca70dcfa12167"></iframe>
						</div>
						<div class="event-text">
							<div class="event-topic-schedule">
								<div class="event-date">
									<span>2013 </span>
									<em>1 сарын 23</em>
								</div>
								<div class="event-time"><span>13:00</span></div>
							</div>
							<div class="event-topic-text">
								<h2>MORU уулзалт #3</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end left content -->
		</div>
		<div class="grid_3 omega">
			<!-- begin right content -->
			<div class="right-content clearfix">
			</div>
			<!-- end right content -->
		</div>
	</div>
</div>
