<div class="screencast-container">
  <div class="container_10 clearfix">
    <div class="grid_10">
      <% @screencasts.each do |screencast| %>
        <ul id="screencast-list">
          <%= render partial: 'screencasts/screencast', locals: { screencast: screencast } %>
        </ul>
        <p id="back-top">
          <a href="#top"><span></span>Дээш очих</a>
        </p>
      <% end %>
    </div>
  </div>
</div>
