<div class="event-container">
<div class="container_10 clearfix">
	<!-- begin grid_10 -->
	<div class="grid_10">
		<div class="grid_7 alpha">
			<!-- begin left content -->
			<div class="left-content">
        <%= render @posts %>
				<div class="paginate clearfix">
					<a href="javascript:void(0)" class="prev"> < </a>
					<a href="javascript:void(0)"> 1 </a>
					<a href="javascript:void(0)"> 2 </a>
					<a href="javascript:void(0)"> 3 </a>
					<a href="javascript:void(0)"> 4 </a>
					<a href="javascript:void(0)" class="next"> > </a>
				</div>
			</div>
			<!-- end left content -->
		</div>
		<!-- begin grid 3 -->
		<div class="grid_3 omega">
			<div class="right-content clearfix">
				rigth content
			</div>
		</div>
		<!-- end grid 3 -->
	</div>
</div>
</div>
