<div class="event-container">
<div class="container_10 clearfix">
	<div class="grid_10">
		<div class="grid_7 alpha">
			<div class="left-content">
        <%= render @posts %>
        <%= paginate @posts, theme: 'moru' %>
			</div>
		</div>

    <!-- SIDEBAR -->
		<div class="grid_3 omega">
			<div class="right-content clearfix">
				<%= render 'like_box' %>
			</div>
		</div>

	</div>
</div>
</div>
