
@mixin radius($value:5px) {
  	-webkit-border-radius: $value;
		-moz-border-radius:$value;
		border-radius: $value;
}

@mixin none_styled_ul(){
			margin:0;
			padding:0;
			list-style:none;
}

@mixin transit{
	 transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

@mixin moru_button(){
    background: #00a8e7;
    border: none;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    box-shadow: inset 0 -3px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 -3px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 -3px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 -3px rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    &:hover {
      background: #49c0ec;
    }
    &:active {
      background: #0f8fbe;
      box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
      -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
      -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
      -o-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    }
}
