
@mixin radius($value:5px) {
  	-webkit-border-radius: $value;
		-moz-border-radius:$value;
		border-radius: $value;
}

@mixin none_styled_ul(){
			margin:0;
			padding:0;
			list-style:none;
}

@mixin transit{
	 transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}
