 @import "shared-mixins";
 @import "reset";

:focus{
  box-shadow:none!important;
  -webkit-box-shadow:none!important;
  -moz-box-shadow:none!important;
  -o-box-shadow:none!important;
}

 body {
	font: 13px/20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #444;
	margin:0;
	padding:0;
	background:#f1f2f3;
}
a {
  color:#00a8e7;
	text-decoration: none !important;
	font-weight:bold;
	font-size:13px;
	transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-khtml-transition: color .2s ease-in-out;
	&:hover, &:active{
			color:#444;
	}
}
.noneBackground{
	background: none !important;
}
.nonePadding{
	padding:0 !important;
}
.social-login{
		float:right;
		background:#7fcde8;
		padding:5px 10px;
		ul{
			list-style:none;
			margin:0;
			padding:0;
			li{
				float:left;
				padding:0 5px;
			}
			li.login_btn{
				span{
					float:left;
					color:#fff;
					font-weight: bold;
					margin:4px 10px 0 0;
				}
			}
		}

		a.social-twitter{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -140px 0 no-repeat;
			&:hover{
				background-color:#32ccff;
			}
		}
		a.social-facebook{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -260px 0 no-repeat;	
			&:hover{
				background-color:#3b5998;
			}
		}
		a.social-github{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -180px 0 no-repeat;
			&:hover{
				background-color:#4c8ac7;
			}
		}
		a.social-google_oauth2{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -220px 0 no-repeat;
			&:hover{
				background-color:#d6492d;
			}
		}

	}

header {
	display:block;
	padding:15px 0;
	border-bottom:solid 5px #eee;
	background:#fff;
	a.moru-logo{
		float:left;
		width				:	125px;
		height			:	50px;
		background	: image-url('sprite.png') 0 0 no-repeat;
	}

	nav {
		float:left;
		-webkit-border-radius: 5px;
		-moz-border-radius:5px;
		border-radius: 5px;
		margin-top:5px;
	}

	/* begin main menu */
	.main-menu{
		float: right;
		background: #707982;
		padding: 10px 10px;
		margin-right: 20px;
		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
			li {
				float: left;
				padding: 0px 20px;
				a {
					font-size: 14px;
					font-weight: bold;
					text-transform: uppercase;
					color: #fff;
					&:hover {
						color: #7fcde8;
					}
				}
				a.active {
					color: #7fcde8;
				}
			} 
		}
	}
	/* end main menu */

	/* begin social login */
	.social-login{
		float:right;
		background:#7fcde8;
		padding:5px 10px;
		ul{ 
			list-style:none;
			margin:0;
			padding:0;
			li{
				float:left;
				padding:0 5px;
			} 
			li.label{
				span{
					float:left;
					color:#fff;
					font-weight: bold;
					margin:4px 10px 0 0;
				}
			}
		}

		a.social-twitter{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -140px 0 no-repeat;
			&:hover{
				background-color:#32ccff;
			}
		}
		a.social-facebook{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -260px 0 no-repeat;	
			&:hover{
				background-color:#3b5998;
			}
		}
		a.social-github{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -180px 0 no-repeat;
			&:hover{
				background-color:#4c8ac7;
			}
		}
		a.social-google_oauth2{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -220px 0 no-repeat;
			&:hover{
				background-color:#d6492d;
			}
		}

	}
	/* end social login */

	/* begin sign out */
	.social-logged{
		float:right;
		overflow:hidden;
		padding:0 0 0 20px;
		ul{
			@include none_styled_ul();
			li{
				float:left;
				height:40px;
			}
      li.avatar{
        img{
          float:left;
          height:40px;
        }
      }
			li.user_profile {
				a {
					-webkit-border-top-left-radius: 5px;
					-webkit-border-bottom-left-radius: 5px;
					-moz-border-radius-topleft: 5px;
					-moz-border-radius-bottomleft: 5px;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					float:left;
					height:30px;
					@include transit;
					color:#fff;
					font-weight: bold;
					padding:10px 20px 0 20px;
					background:#7fcde8;
					&:hover{
						background:#99d8ed;
					}
					&:active{
						background:#61b0cc;
					}
				}
			}
			li.logout{
				a{
					float:left;
					width:40px;
					height:40px;
					@include transit;
					background:#707982 image-url("sprite.png") -140px -60px no-repeat;
					&:hover, &:active{
						background-color:#858f9a;
					}	
					&:active{
						background-color:#4f5861;
					}
				}
			}
		}
	}
	
	/* end sign out */
}

.next_event{
	background:#707982;
	padding:40px 0;
	.event-box{
		display:block;
		@include radius(5px);
		background:#5f6871;
		padding:20px;
		h2{
			text-transform: uppercase;
			font-size:20px;
			color:#fff;
      a {
			  font-size:20px;
			  color:#fff;
        &:hover {
          color: #7fcde8;
        }
      }
		}
		.separator{
			display:block;
			height:5px;
			background:#707982;
		}
		.event-declare{
			@include none_styled_ul();
			padding-top:20px;
			li{
				padding-bottom:15px;
				span{
					padding:0 0 0 15px;
					.icon-location {
						float:left;
						width:10px;
						height:15px;
						margin:2px 0 0 0;
						background:image-url("sprite.png") 0 -60px no-repeat;
					}
					.icon-time{
						float:left;
						width:12px;
						height:12px;
						margin:4px 0 0 0;
						background:image-url("sprite.png") -20px -60px no-repeat;
					}
					color:#fff;
					text-transform: uppercase;
				}
			}
		}

		.event-calendar{
			@include radius(5px);
			background:#707982;
			padding:23px 19px;
			.cal-item{
				float:left;
				margin-right:20px;
				.cal-item-left{
					float:left;
					width:12px;
					height:50px;	
					background:image-url("sprite.png") -300px 0 no-repeat;
				}
				.cal-item-right{
					float:left;
					width:12px;
					height:50px;
					background:image-url("sprite.png") -320px 0 no-repeat;

				}
				.cal-item-center{
					float:left;
					height:35px;
					padding:15px 8px 0 8px;
					color:#fff;
					font-size:36px;
					font-weight: bold;
					text-transform: uppercase;
					background:image-url("sprite-x.png") 0 0 repeat-x;
				}
			}
			.last-item{
					margin-right:0;
					span.cal-item-center{
						color:#7fcde8;
					}	
				}
		}
		.event-topic{
			@include none_styled_ul();
			li {
				list-style-image: image-url("list-img.png");
				list-style-position: inside;
				margin:8px 0;
				color:#fff;
				text-transform: uppercase;
        a{
          color:#fff;
          text-transform: none;
          font-weight: normal;
          &:hover, &:active{
            color:#7fcde8;
          }
        }
			}	
		}
		.guest-tool{
			padding:10px 0 0 0;
			.member-count{
				float:left;
				background:#fff;
				-webkit-border-top-right-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;
				-moz-border-radius-topright: 5px;
				-moz-border-radius-bottomright: 5px;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				padding:4px 6px;
				margin:5px 0 0 0;
				span{
					color:#707982;
					font-size:14px;
					font-weight: bold;
				}
			}
      .rsvp-statistics{
        float:left;
        @include radius(5px);
        background:#707982;
        padding:20px;
        span{
          font-weight: bold;
          font-size:18px;
          text-transform: uppercase;
          color:#fff
        }
        span.yes-stat{
          float:left;
          color:#7fcde8;
        }
        span.other-stat{
          float:right;
          padding:0 0 0 20px;
        }
      }
      .topic-more{
        float:right;
        @include radius(5px);
        background:#b6d99f;
        color:#fff;
        font-weight: bold;
        text-align: center;
        line-height:60px;
        padding:0 20px;
        text-transform: uppercase;
        font-size:14px;
      }
		}
	}
}
.left-content, .right-content{
	display:block;
	margin-top:40px;
  margin-bottom:40px;
}
.left-content{

	.post-item{
		@include radius(10px);		
		background:#fff;
		padding:20px 0;
    margin-top:40px;
		.post-img{
			display:block;
			margin-bottom:20px;
			img{
				width:100%;
			}
		}
		.post-content{
			padding:0 20px;
			h2{
        a {
				  color:#00a8e7;
				  font-size:20px;
				  font-weight: bold;
				  text-transform: uppercase;
        }
			}
			span{
				display:block;
				color:#444;
				font-size:12px;
				margin:15px 0 10px 0;
			}
			.separator{
				display:block;
				height:5px;
				background:#eee;
			}
			.post-text{
				text-align: justify;
				padding:15px 0 20px 0;
			}
			.post-tool{
				span.comment-count{
					float:left;
					color:#444;
					font-size:13px;
					margin:15px 0 0 0;
					.comment-icon{
						float:left;
						width:16px;
						height:15px;
						margin:3px 10px 0 0 ;
						background:image-url("sprite.png") -40px -60px no-repeat;
					}
				}
				a.post-more{
					float:right;
					background:#00a8e7;
					@include radius(5px);
					padding:8px 15px;
					font-weight: bold;
					color:#fff;
					@include transit;
					&:hover{
						background:#49c0ec;
					}
					&:active{
						background-color:#108fbe;	
					}
				}
			}
		}
		.post-item-tools{
      overflow:hidden;
      padding:0 20px;
      ul{
        float:left;
        background: #b6d99f;
        @include none_styled_ul();
        @include radius(5px);
        padding:10px 0 10px 10px;
        li{
          float:left;
          margin-right:10px;
          span{
            color:#fff;
            font-size:13px;
            font-weight: bold;
            text-transform: uppercase;
            margin-right:10px;
          }
          .f-social-git{
            float:left;
            width:20px;
            height:20px;
            background:image-url("sprite.png") -340px 0 no-repeat;
          }
          .f-social-twitter{
            float:left;
            width:20px;
            height:20px;
            background:image-url("sprite.png") -370px 0 no-repeat;
          }
          .f-social-facebook{
            float:left;
            width:20px;
            height:20px;
            background:image-url("sprite.png") -400px 0 no-repeat;
          }
          .f-social-rss{
            float:left;
            width:20px;
            height:20px;
            background:image-url("sprite.png") -430px 0 no-repeat;
          }
          .f-social-google{
            float:left;
            width:20px;
            height:20px;
            background:image-url("sprite.png") -460px 0 no-repeat;
          }
        }
      }
      .published_by{
        float:right;
        background:#eee;
        @include radius(5px);
        padding:10px 20px;
        span{
          font-size:12px;
          color:#555;
        }
      }
    }
	}
	.paginate{
		@include radius(5px);
		background:#707982;
		padding:10px 15px;
		margin:40px 0;

		a{
			float:left;
			width:30px;
			line-height:30px;
			color:#fff;
			background:#5f6871;
			margin:0 5px;
			text-align: center;
			@include radius(5px);
			@include transit;
			&:hover{
				color:#5f6871;
				background:#fff;
				@include radius(5px);
			}
		}
		a.prev, a.next{
			color:#b6d99f;
		}
	}

}
.right-content{
	// background:#e1e5ea;
}
footer{
	padding:30px 0 40px 0;
	background:#707982;

	.margintop{
		margin-top:20px;
	}

	a.footer-moru-logo{
		float:left;
		width:50px;
		height:50px;
		background:image-url("sprite.png") 0 0 no-repeat;
	}
	.moru-desc{
		padding:0 0 0 60px;
		h2{
			color:#fff;			
			font-weight: bold;
      margin-bottom:10px;
		}
		span{
			color:#fff;
			font-size:13px;
		}
	}
	.footer-menu{
		display:block;
		text-align: right;
		a{
			color:#fff;
			font-size:13px;
			font-weight: bold;
			&:hover{
				color:#7fcde8;
			}
		}
		span{
			color:#b2d39d;
			font-weight: bold;
			margin:0 10px;
		}
	}

	.footer-social{
		float:right;
		a{
			margin-left:10px;
		}	
		.f-social-git{
			float:left;
			width:20px;
			height:20px;
			background:image-url("sprite.png") -340px 0 no-repeat;	
		}
		.f-social-twitter{
			float:left;
			width:20px;
			height:20px;
			background:image-url("sprite.png") -370px 0 no-repeat;	
		}
		.f-social-facebook{
			float:left;
			width:20px;
			height:20px;
			background:image-url("sprite.png") -400px 0 no-repeat;		
		}
		.f-social-rss{
			float:left;
			width:20px;
			height:20px;
			background:image-url("sprite.png") -430px 0 no-repeat;			
		}

	}
	.developed_by{
		font-size:12px;
		color:#a6a7a8;
		text-transform: uppercase;
		line-height: 30px;
	}
}

/******************************************/
/************** BEGIN EVENT CSS ***********/

.event-container{
	border-top:40px solid #707982;

	#event-list{
		overflow:hidden;
		padding:40px 0 0 0;
		margin:0;
		list-style-type: none; 
		background: url(timeline.png) top center repeat-y;
		.box{
			float:left;
			@include radius(5px);
			padding:20px;
			background:#fff;
			margin-bottom:40px;
			width:410px;
			position: relative;
			/*min-height: 190px;
			max-height:250px;*/
			.event-up{
				.event-title{
					display:inline-block;
					a{
						float:left;
						font-size:18px;
						font-weight: bold;
						text-transform: uppercase;
					}
					span.event-where{
						float:left;
						margin:5px 0 0 0;
						color:#aeaeae;
						font-size:12px;
						text-transform: uppercase;
						.marker{
							margin:3px 10px 0 0;
							float:left;
							width:10px;
							height:15px;
							background:image-url("marker.png") no-repeat;

						}
					}
				}
				.event-date{
					display:inline-block;
					float:right;
					span{
						float:right;
						background:#b6d99f;
						@include radius(5px);
						color:#fff;
						font-size:20px;
						font-weight: bold;
						text-transform: uppercase;
						line-height: 40px;
						padding:0 20px;
					}
				}
			}
			
			ul.event-topics{
				margin-top:20px;
				span{
					color:#444;
					text-transform: uppercase;
					font-size:13px;
				}
				li{
					list-style-image: image-url('event-list-img.png');
					list-style-position: inside;
					list-style-position: center;
					text-transform: uppercase;
					font-size:13px;
					color:#444;
					margin-top:15px;
          a{
            text-transform: none;
            font-weight: normal;
          }
				}
			}

		}
		.odd, .even{
			width:36px;
			height:15px;
			position:absolute;
		}
		.odd{
			right:-36px;
			top:20px;
			background:image-url("left.png") no-repeat;
		}
		.even{
			left:-36px;
			top:80px;
			background:image-url("right.png") no-repeat;
		}

		#up_arraw{

		}
	}
}

/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 75px;
	right: 25px;
  z-index: 100;
}
/* arrow icon (span tag) */
#back-top span {
	float:left;
	width: 10px;
	height: 15px;
	margin:3px 10px 0 0;
	background:image-url('up-arrow.png') no-repeat center center;
	
}

/*************** END EVENT CSS ************/
/******************************************/


/******************************************/
/*************** BEGIN TOPIC CSS ************/

.offer-topic{
	background:#fff;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding:20px;
	margin:20px 0;
	.topic-type{
		width:260px;
		margin-right:20px;		
		float:left;
		.talk-topic1, .talk-topic2{
			float:left;
			width:220px;
			@include radius(5px);
			padding:10px 20px;
			overflow:hidden;
			input{
				float:left;
				margin-right:20px;
				margin-top:10px;
			}
			span{
				float:left;
				color:#fff;
				font-size:11px;
				line-height: 16px;
				h2{
					font-size:13px;
					font-weight: bold;
					text-transform: uppercase;
          line-height: 18px;
				}
			}
		}
		.talk-topic1{
			background:#b6d99f;
			margin-bottom:10px;
		}
		.talk-topic2{
			background:#707982;
		}
	}
  .topic-write-side{
    float:left;
    width:500px;
    padding:0 0 10px 0;
    margin-right:20px;
    label{
      float:left;
      background:#707982;
      color:#fff;
      padding:0;
      margin:0 0 10px 0;
      width:100%;
      @include radius(8px);
      span{
        color:#fff;
        font-size:12px;
        font-weight: bold;
        text-transform: uppercase;
        line-height:40px;
        padding:0 0 0 20px;
      }
      input{
        float:right;
        height:40px;
        width:75%;
        padding:0 15px;
        border:none;
        color:#666;
        margin:0;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background:#eee;
      }
    }
    textarea.topicarea{
      float:left;
      background:#e1e5ea;
      @include radius(5px);
      border:none;
      width:480px;
      height:48px;
      padding:10px;
      color:#666;
    }
  }
	.send-topic{
		float:left;
		width:120px;
		.logo{
			width:60px;
			height:60px;
			margin:0 auto;
			background:image-url("sprite.png") 0 -100px no-repeat;
		}
		input.send{
			width:100%;
			@include radius(5px);
      border:none;
			background:#7fcde8;
			color:#fff;
			font-size:13px;
			font-weight: bold;
			text-align: center;
			line-height:40px;
			text-transform: uppercase;
			margin-top:12px;
      &:hover{
        background:#99d8ed;
      }
      &:active{
        background:#61b0cc;
      }
		}
	}
}

.topic-list-title{
	margin-top:50px;
	background:image-url("hr.png") center repeat-x;
	span{
		text-transform: uppercase;
		color:#00a8e7;
		font-weight: bold;
		font-size:15px;
		background:#f1f3f5;
		padding:0 20px 0 0 ;
	}
}

.list-view{
  .topic-item{
    width:auto !important;
    .topic-user{
      width:520px !important;
      a {
        margin: {
          right: 10px;
        }
      }
    }
  }
}
.topic-list{
	margin-bottom:60px;
	.topic-item{
		float:left;
		width:460px;
		margin-top:40px;
		.topic-context{
			@include radius(5px);
			background:#fff;
			.topic-header{
				.avatar, .pulse{
					float:left;
					width:50px;
					height:50px;
					padding:10px;
					text-align:center;
					@include radius(100%);
					background:#f1f3f5;
					margin-left:-10px;
					margin-top:-10px;
					overflow:hidden;
					img{
						@include radius(100%);
						width:50px;
						height:50px;
					}
				}
				.pulse{
					float:right;
					margin-right:-10px;
					span{
						float:left;
						width:50px;
						line-height:50px;
						background:#fff;
						@include radius(100%);
						text-align: center;
						font-size:16px;
						font-weight: bold;
					}
					.down{
						color:#dd7e7e;
					}
					.up{
						color:#b6d99f;
					}
				}
				.topic-user{
					float:left;
					width:320px;
					padding:10px 10px 0 10px;
					span{
						float:left;
						color:#00a8e7;
						font-size:13px;	
						font-weight: bold;
						line-height: 16px;
            text-transform: uppercase;
						em{
							font-size:11px;
							color:#aeaeae;
              text-transform: lowercase;
						}
					}
					.vote-down, .vote-up{
						float:right;
						@include radius(100%);
						width:24px;
						line-height: 24px;
						text-align: center;
						color:#fff;
					}
					.vote-down{
						background:#dd7e7e;
					}
					.vote-up{
						background:#b6d99f;
						margin-right:5px;
					}
				}
			}
			.topic-text{
        h2{
          font-weight: bold;
          font-size:13px;
          text-transform: uppercase;
          margin-bottom:5px;
          a {
            color:#000;
            &:hover {
              color: #00a8e7;
            }
          }
        }
				padding:20px 20px 30px 20px;
			}
		}

    .topic-show-tools{
      padding:0 20px 20px 20px;
      overflow:hidden;
    }
		.topic-tools, .topic-show-tools{
      .presenter{
        float:left;
        background:#707982;
        @include radius(5px);
        padding:0 10px 0 0;
        height:30px;
        img{
          float:left;
          @include radius(5px);
          width:30px;
          height:30px;
        }
        span{
          float:left;
          color:#fff;
          font-size:12px;
          font-weight: bold;
          text-transform: uppercase;
          margin:6px 0 0 10px;
        }
        a.remove {
          float:right;
          width:15px;
          height:15px;
          margin:8px 0 0 10px;
          background:url("sprite.png") -80px -60px no-repeat;
        }
      }
			a.speak-topic{
				float:left;
				background:#707982;
				text-transform: uppercase;
				@include radius(5px);
				color:#fff;
				font-size:12px;
				font-weight: bold;
				padding:5px 20px;
				&:hover{
          background: #858f9a;
				}
        &:active{
          background: #4f5861;
        }
			}
		}
    .topic-tools{
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background:#e1e5ea;
      margin:0 10px;
      padding:10px;
      ul.topic_view {
        @include none_styled_ul;
        li{
          float:left;
          height:30px;
          margin-right:10px;
          span{
            float:left;
            color:#444;
            font-weight: bold;
            text-transform: uppercase;
            font-size:12px;
            margin-top:5px;
          }
          a{
            float:left;
            width:30px;
            height:30px;
            img{
              width:30px;
              height:30px;
              @include radius(5px);
            }
          }
        }
      }
    }
	}
}
/*************** END TOPIC CSS ************/
/******************************************/

 /******************************************/
 /********* BEGIN EVENT VIEW CSS ***********/
 .event-view-container{
    .event-content{
       @include radius(5px);
       background:#fff;
       padding:20px;
      .event-map{

      }
      .event-text{
        padding:20px 0 0 0;
        overflow:hidden;
        .event-topic-schedule{
          float:left;
          width:115px;
          margin-right:20px;
          .event-date{
            overflow:hidden;
            padding:10px 15px;
            background:#7fcde8;
            @include radius(5px);
            text-align: center;
            span{
              color:#fff;
              font-weight: bold;
              font-size:25px;
            }
            em{
              display:block;
              font-size:13px;
              text-align: center;
              color:#fff
            }
          }
          .event-time{
             margin-top:20px;
             padding:10px 15px;
             background:#b6d99f;
             @include radius(5px);
            text-align: center;
             span{
               color:#fff;
               font-weight: bold;
               font-size:25px;
             }
          }
        }
        .event-topic-text{
          overflow:hidden;
          h2{
            color:#00a8e7;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
          }
          span{
            display:block;
            margin:10px 0 0 0;
            font-size:13px;
            text-align: left;
          }
          ul{
            overflow:hidden;
            @include none_styled_ul();
            li{

            }
          }

        }
      }
      .event-bottom-tool{
        padding:40px 0 0 0;
        ul.social-buttons{
          float:left;
          background:#e1e5ea;
          @include none_styled_ul();
          @include radius(5px);
          padding:10px 10px 10px 20px;
          li{
            float:left;
            margin:0 10px 0 0;
            a.social-twitter{
              float:left;
              width:30px;
              height:30px;
              @include radius(3px);
              @include transit;
              background:#5f6871 image-url("sprite.png") -140px 0 no-repeat;
              &:hover{
                background-color:#32ccff;
              }
            }
            a.social-facebook{
              float:left;
              width:30px;
              height:30px;
              @include radius(3px);
              @include transit;
              background:#5f6871 image-url("sprite.png") -260px 0 no-repeat;
              &:hover{
                background-color:#3b5998;
              }
            }
            a.social-github{
              float:left;
              width:30px;
              height:30px;
              @include radius(3px);
              @include transit;
              background:#5f6871 image-url("sprite.png") -180px 0 no-repeat;
              &:hover{
                background-color:#4c8ac7;
              }
            }
            a.social-google_oauth2{
              float:left;
              width:30px;
              height:30px;
              @include radius(3px);
              @include transit;
              background:#5f6871 image-url("sprite.png") -220px 0 no-repeat;
              &:hover{
                background-color:#d6492d;
              }
            }
          }
        }
        a.event-members{
          float:right;
          background:#7fcde8;
          @include radius(5px);
          color:#fff;
          font-weight: bold;
          font-size:13px;
          padding:0 20px;
          text-align: center;
          text-transform: uppercase;
          line-height: 50px;
          &:hover{
            background:#99d8ed;
          }
          &:active{
            background:#61b0cc;
          }
        }
      }
    }
   .member-list{
     margin:0 10px;
     padding:10px;
     background: #e1e5ea;
     -webkit-border-bottom-right-radius: 5px;
     -webkit-border-bottom-left-radius: 5px;
     -moz-border-radius-bottomright: 5px;
     -moz-border-radius-bottomleft: 5px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     ul{
        @include none_styled_ul;
       li{
        float:left;
        height:30px;
         margin-right:10px;
         a{
           float:left;
           width:30px;
           height:30px;
           img{
             width:30px;
             height:30px;
             @include radius(5px);
          }
         }
       }
     }
   }
 }
 .comment-container{
   padding:40px 0;
   .write-comment{
     .write-title{
       padding:0 20px;
       line-height: 60px;
       background:#5f6871;
       -webkit-border-top-left-radius: 5px;
       -webkit-border-top-right-radius: 5px;
       -moz-border-radius-topleft: 5px;
       -moz-border-radius-topright: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
       span{
         float:left;
         color:#fff;
         font-weight: bold;
         text-transform: uppercase;
         font-size:15px;
       }
       span.comment-count{
         float:right;
         color: #b6d99f;
         font-size:12px;
         text-transform: uppercase;
         em{
           padding:0 0 0 5px;
         }
       }
     }
     .write-field{
       background:#fff;
       -webkit-border-bottom-right-radius: 5px;
       -webkit-border-bottom-left-radius: 5px;
       -moz-border-radius-bottomright: 5px;
       -moz-border-radius-bottomleft: 5px;
       border-bottom-right-radius: 5px;
       border-bottom-left-radius: 5px;
       padding:20px;

       img{
         float:left;
         width:40px;
         height:40px;
         margin-right:20px;
         @include radius(5px);
       }
       textarea{
         float:left;
         background:#e1e5ea;
         @include radius(5px);
         border:none;
         width:535px;
         height:94px;
         padding:10px;
         text-align: left;
         &:focus{
           background: #eee;
         }

       }
       span{
         float:right;
         margin:15px 0 0 0;
         color:#aeaeae;
         font-size:11px;
         text-transform: uppercase;
         em{
           color:#00a8e7;
         }
       }
     }
   }
   .comment-list{
     padding:10px 0 0 0;
     .comment-item{
       position:relative;
       @include radius(5px);
       margin-top:30px;
       background:#fff;
       padding:20px;
       .comment-arrow{
         float:left;
         width:10px;
         height:10px;
         overflow:hidden;
         position:absolute;
         left:20px;
         top:-10px;
         background:image-url("sprite.png") -80px -100px no-repeat;
       }
       img{
         float:left;
         width:40px;
         height:40px;
         margin-right:20px;
         @include radius(5px);
       }
       .item-left{
         float:left;
         width:560px;
         .comment-info{
           overflow:hidden;
           span{
             float:left;
             color:#00a8e7;
             text-transform: uppercase;
             font-size:14px;
             font-weight: bold;
             line-height:16px;
           }
           em{
             float:right;
             color:#aeaeae;
             font-size:11px;
             line-height:12px;
             i.comment-date{
               float:left;
               width:12px;
               height:12px;
               margin-right:5px;
               background:image-url("sprite.png") -110px -60px no-repeat;
             }
           }
         }
         .comment-text{
           margin-top:10px;
         }
       }
     }
   }
 }
 /********** END EVENT VIEW CSS ************/
 /******************************************/

 /*********************************************/
 /********** BEGIN GLOBAL TOOLTIP CSS *********/
 .tooltip {
   position: absolute;
   z-index: 1030;
   display: block;
   padding: 5px;
   font-size: 11px;
   opacity: 0;
   filter: alpha(opacity=0);
   visibility: visible;
 }

 .tooltip.in {
   opacity: 0.8;
   filter: alpha(opacity=80);
 }

 .tooltip.top {
   margin-top: -3px;
 }

 .tooltip.right {
   margin-left: 3px;
 }

 .tooltip.bottom {
   margin-top: 3px;
 }

 .tooltip.left {
   margin-left: -3px;
 }

 .tooltip-inner {
   max-width: 200px;
   padding: 3px 8px;
   color: #ffffff;
   text-align: center;
   text-decoration: none;
   background-color: #000000;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
 }

 .tooltip-arrow {
   position: absolute;
   width: 0;
   height: 0;
   border-color: transparent;
   border-style: solid;
 }

 .tooltip.top .tooltip-arrow {
   bottom: 0;
   left: 50%;
   margin-left: -5px;
   border-top-color: #000000;
   border-width: 5px 5px 0;
 }

 .tooltip.right .tooltip-arrow {
   top: 50%;
   left: 0;
   margin-top: -5px;
   border-right-color: #000000;
   border-width: 5px 5px 5px 0;
 }

 .tooltip.left .tooltip-arrow {
   top: 50%;
   right: 0;
   margin-top: -5px;
   border-left-color: #000000;
   border-width: 5px 0 5px 5px;
 }

 .tooltip.bottom .tooltip-arrow {
   top: 0;
   left: 50%;
   margin-left: -5px;
   border-bottom-color: #000000;
   border-width: 0 5px 5px;
 }

/********** END GLOBAL TOOLTIP CSS ***********/
/*********************************************/

a.feedback{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background:#7fcde8;
  line-height:40px;
  padding:0 10px;
  text-align: center;
  color:#fff;
  font-size:14px;
  font-weight: bold;
  text-transform: uppercase;
  position:fixed;
  right:0px;
  bottom:20px;
}

#feedback_content {
  width: 450px;
}

#feedback_notifications {
  width: 450px;
  margin: 20px auto 0 auto;
}

.alert {
  li {
    list-style: none;
  }
}

.error_container {
  margin: {
    left: 215px;
    top: 120px;
    bottom: 120px;
  }
}
