 @import "shared-mixins";
 @import "reset";

:focus{
  box-shadow:none!important;
  -webkit-box-shadow:none!important;
  -moz-box-shadow:none!important;
  -o-box-shadow:none!important;
}

 body {
	font: 13px/20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #444;
	margin:0;
	padding:0;
	background:#f1f2f3;
}
a {
  color:#00a8e7;
	text-decoration: none !important;
	font-weight:bold;
	font-size:13px;
	transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-khtml-transition: color .2s ease-in-out;
	&:hover, &:active{
			color:#444;
	}
}
.noneBackground{
	background: none !important;
}
.nonePadding{
	padding:0 !important;
}
.social-login{
  float:left;
  margin:20px 0 0 0;
		ul{
			list-style:none;
			margin:0;
			padding:0;
			li{
				float:left;
        margin-right:10px;
			}
			li.login_btn{
				span{
					float:left;
					color:#fff;
					font-weight: bold;
					margin:4px 10px 0 0;
				}
			}
		}

		a.social-twitter{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -140px 0 no-repeat;
			&:hover{
				background-color:#32ccff;
			}
		}
		a.social-facebook{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -260px 0 no-repeat;	
			&:hover{
				background-color:#3b5998;
			}
		}
		a.social-github{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -180px 0 no-repeat;
			&:hover{
				background-color:#4c8ac7;
			}
		}
		a.social-google_oauth2{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px);
			@include transit;
			background:#6ab8d3 image-url("sprite.png") -220px 0 no-repeat;
			&:hover{
				background-color:#d6492d;
			}
		}
    a.topic-more{
      float:left;
      width:55px;
      height:30px;
      @include radius(3px);
      @include transit;
      background:#6ab8d3 image-url("sprite.png") -340px -60px no-repeat;
      &:hover{
        background-color:#0f8fbe;
      }
    }
	}

header {
	display:block;
	border-bottom:solid 5px #fff;
	background:#707982;
  height:78px;
	a.moru-logo{
    margin:14px 0 0 0;
		float:left;
		width				:	125px;
		height			:	50px;
		background	: image-url('sprite.png') 0 0 no-repeat;
	}

	nav {
		float:left;
		-webkit-border-radius: 5px;
		-moz-border-radius:5px;
		border-radius: 5px;
	}

	/* begin main menu */
	.main-menu{
		float: right;
    padding:0 20px;
    height:78px;
		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
			li {
				float: left;
				a {
          float:left;
					font-size: 14px;
					font-weight: bold;
					text-transform: uppercase;
					color: #fff;
          padding: 29px 30px;
					&:hover {
						color: #7fcde8;
					}
				}
				a.active {
					color: #7fcde8;
					background:#5f6871;
				}

			} 
		}
	}
	/* end main menu */

	/* begin social login */
	.social-login{
    padding:0;
    margin:20px 0 0 20px;
		float:right;
		background:#7fcde8;
		width: 260px;
		ul{
			list-style:none;
			margin:0;
			padding:0;
      height:40px;
			li.social-icon{
        flaot:left;
        height:40px;
        width:40px;
        padding:0;
			}
      li.login_btn{
        float:left;
        padding: 5px 0 0 15px;
        span{
          font-size:13px;
          color:#fff;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
		}

		.social-twitter{
			float:left;
			width:30px;
			height:40px;
			@include radius(3px 0 0 3px);
			@include transit;
			background:#b6d99f image-url("sprite.png") -140px 0 no-repeat;
		}
		.social-facebook{
			float:left;
			width:40px;
			height:40px;
			@include radius(3px 0 0 3px);
			@include transit;
			background:#b6d99f image-url("sprite.png") -255px 5px no-repeat;
		}
		.social-github{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px 0 0 3px);
			@include transit;
			background:#b6d99f image-url("sprite.png") -180px 0 no-repeat;
		}
		.social-google_oauth2{
			float:left;
			width:30px;
			height:30px;
			@include radius(3px 0 0 3px);
			@include transit;
			background:#b6d99f image-url("sprite.png") -220px 0 no-repeat;
		}

	}
	/* end social login */

	/* begin sign out */
	.social-logged{
		float:right;
		overflow:hidden;
		padding:0 0 0 20px;
    margin:20px 0 0 0;
		ul{
			@include none_styled_ul();
			li{
				float:left;
				height:40px;
			}
      li.avatar{
        img{
          float:left;
          height:40px;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
			li.user_profile {
				a{
					float:left;
					height:40px;
					@include transit;
					color:#fff;
					font-weight: bold;
					padding:8px 20px 0 20px;
					background:#7fcde8;
					text-transform: uppercase;
				}
			}
			li.logout{
				a{
					float:left;
					width:40px;
					height:40px;
					@include transit;
					@include radius(0 3px 3px 0);
					background:#b6d99f image-url("sprite.png") -140px -60px no-repeat;
				}
			}
		}
	}
	
	/* end sign out */
}

.next_event{
	background:#707982;
	padding:40px 0;
	.event-box{
		display:block;
		@include radius(5px);
		background:#5f6871;
		padding:20px;
		h2{
			text-transform: uppercase;
			font-size:20px;
			color:#fff;
      a {
			  font-size:20px;
			  color:#fff;
        &:hover {
          color: #7fcde8;
        }
      }
		}
		.separator{
			display:block;
			height:5px;
			background:#707982;
		}
		.event-declare{
			@include none_styled_ul();
			padding-top:20px;
			li{
				padding-bottom:15px;
				span{
					padding:0 0 0 15px;
					.icon-location {
						float:left;
						width:10px;
						height:15px;
						margin:2px 0 0 0;
						background:image-url("sprite.png") 0 -60px no-repeat;
					}
					.icon-time{
						float:left;
						width:12px;
						height:12px;
						margin:4px 0 0 0;
						background:image-url("sprite.png") -20px -60px no-repeat;
					}
					color:#fff;
					text-transform: uppercase;
				}
			}
		}

		.event-calendar{
			@include radius(5px);
			background:#707982;
			padding:23px 19px;
			.cal-item{
				float:left;
				margin-right:20px;
				.cal-item-left{
					float:left;
					width:12px;
					height:50px;	
					background:image-url("sprite.png") -300px 0 no-repeat;
				}
				.cal-item-right{
					float:left;
					width:12px;
					height:50px;
					background:image-url("sprite.png") -320px 0 no-repeat;

				}
				.cal-item-center{
					float:left;
					height:35px;
					padding:15px 8px 0 8px;
					color:#fff;
					font-size:36px;
					font-weight: bold;
					text-transform: uppercase;
					background:image-url("sprite-x.png") 0 0 repeat-x;
				}
			}
			.last-item{
					margin-right:0;
					span.cal-item-center{
						color:#7fcde8;
					}	
				}
		}
		.event-topic{
			@include none_styled_ul();
			li {
				list-style-image: image-url("list-img.png");
				list-style-position: inside;
				margin:8px 0;
				color:#fff;
				text-transform: uppercase;
        a{
          color:#fff;
          text-transform: none;
          font-weight: normal;
          &:hover, &:active{
            color:#7fcde8;
          }
        }
			}	
		}
		.guest-tool{
			padding:10px 0 0 0;
			.member-count{
				float:left;
				background:#fff;
				-webkit-border-top-right-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;
				-moz-border-radius-topright: 5px;
				-moz-border-radius-bottomright: 5px;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				padding:4px 6px;
				margin:5px 0 0 0;
				span{
					color:#707982;
					font-size:14px;
					font-weight: bold;
				}
			}
      .rsvp-statistics{
        float:left;
        @include radius(5px);
        background:#707982;
        padding:20px;
        span{
          font-weight: bold;
          font-size:18px;
          text-transform: uppercase;
          color:#fff
        }
        span.yes-stat{
          float:left;
          color:#7fcde8;
        }
        span.other-stat{
          float:right;
          padding:0 0 0 20px;
        }
      }
      .topic-more{
        float:right;
        @include radius(5px);
        background:#b6d99f;
        color:#fff;
        font-weight: bold;
        text-align: center;
        line-height:60px;
        padding:0 20px;
        text-transform: uppercase;
        font-size:14px;
      }
		}
	}
}
.left-content, .right-content{
	display:block;
	margin-top:40px;
  margin-bottom:40px;

}
.left-content{

	.post-item{
		@include radius(10px);		
		background:#fff;
		padding:20px 0;
    margin-top:40px;
    box-shadow: 0 1px rgba(0,0,0,0.2);
		.post-img{
			display:block;
			margin-bottom:20px;
			img{
				width:100%;
			}
		}
		.post-content{
			padding:0 20px;
			h2{
        a {
				  color:#00a8e7;
				  font-size:20px;
				  font-weight: bold;
				  text-transform: uppercase;
        }
			}
			span{
				display:block;
				color:#444;
				font-size:12px;
				margin:15px 0 10px 0;
			}
			.separator{
				display:block;
				height:5px;
				background:#eee;
			}
			.post-text{
				text-align: justify;
				padding:15px 0 20px 0;
			}
			.post-tool{
				span.tool-item{
					float:left;
					color:#444;
					font-size:11px;
					margin:15px 20px 10px 0;
					text-transform: uppercase;
					.comment-icon{
						float:left;
						width:10px;
						height:10px;
						margin:6px 10px 0 0 ;
						background:image-url("sprite.png") -140px -100px no-repeat;
					}
          .author-icon{
            float:left;
            width:10px;
            height:10px;
            margin:5px 10px 0 0 ;
            background:image-url("sprite.png") -220px -100px no-repeat;
          }
          .createdby-icon{
            float:left;
            width:10px;
            height:10px;
            margin:5px 10px 0 0 ;
            background:image-url("sprite.png") -180px -100px no-repeat;
          }
				}
				a.post-more{
					float:left;
					text-transform: uppercase;
				}
			}
		}
		.post-item-tools{
      overflow:hidden;
      padding:0 20px;
      ul{
        float:left;
        background: #b6d99f;
        @include none_styled_ul();
        @include radius(5px);
        padding:10px 0 10px 10px;
        li{
          float:left;
          margin-right:10px;
          span{
            color:#fff;
            font-size:13px;
            font-weight: bold;
            text-transform: uppercase;
            margin-right:10px;
          }
          .f-social-git{
            float:left;
            width:20px;
            height:20px;
            background:image-url("sprite.png") -340px 0 no-repeat;
          }
          .f-social-twitter{
            float:left;
            width:20px;
            height:20px;
            background:image-url("sprite.png") -370px 0 no-repeat;
          }
          .f-social-facebook{
            float:left;
            width:20px;
            height:20px;
            background:image-url("sprite.png") -400px 0 no-repeat;
          }
          .f-social-rss{
            float:left;
            width:20px;
            height:20px;
            background:image-url("sprite.png") -430px 0 no-repeat;
          }
          .f-social-google{
            float:left;
            width:20px;
            height:20px;
            background:image-url("sprite.png") -460px 0 no-repeat;
          }
        }
      }
      .published_by{
        float:right;
        background:#eee;
        @include radius(5px);
        padding:10px 20px;
        text-transform: uppercase;
        span{
          font-size:12px;
          color:#555;
        }
      }
    }
	}
	.paginate{
		@include radius(5px);
		background:#707982;
		padding:10px 15px;
		margin:40px 0;

		a{
			float:left;
			width:30px;
			line-height:30px;
			color:#fff;
			background:#5f6871;
			margin:0 5px;
			text-align: center;
			@include radius(5px);
			@include transit;
			&:hover{
				color:#5f6871;
				background:#fff;
				@include radius(5px);
			}
		}
		a.prev, a.next{
			color:#b6d99f;
		}
	}

}
.right-content{
  background:#707982;
  padding:20px 0 10px 0;
  @include radius(5px);
  .next-event{
    .event-title{
      background:#7fcde8;
      text-align: center;
      line-height:50px;
      a{
        color:#fff;
        font-weight:bold;
        font-size:16px;
        text-transform: uppercase;
      }
    }
    .event-calendar{
      @include radius(5px);
      margin-left:20px;
      .cal-item{
        float:left;
        margin-top:20px;
        margin-right:20px;
        .cal-item-left{
          float:left;
          width:12px;
          height:50px;
          background:image-url("sprite.png") -300px 0 no-repeat;
        }
        .cal-item-right{
          float:left;
          width:12px;
          height:50px;
          background:image-url("sprite.png") -320px 0 no-repeat;
        }
        .cal-item-center{
          float:left;
          height:35px;
          padding:15px 8px 0 8px;
          width:60px;
          color:#fff;
          font-size:36px;
          font-weight: bold;
          text-transform: uppercase;
          text-align:center;
          background:image-url("sprite-x.png") 0 0 repeat-x;
        }
      }
      .weekly{
        span.cal-item-center{
          width:180px;
          color:#7fcde8;
        }
      }
    }
    .event-location{
      padding-top:30px;
      .loc-name{
        .loc-left{
          float:left;
          width:60%;
          line-height:50px;
          background:#5f6871;
          span{
            .loc-marker{
              display:inline-block;
              margin:0 10px -3px 0;
              width:10px;
              height:16px;
              background:image-url('sprite.png') -220px -60px no-repeat;
            }
          }
        }
        .loc-right{
          float:left;
          width:40%;
          line-height:50px;
          background:#b6d99f;
          span{
            .loc-time{
              display:inline-block;
              margin:0 10px -3px 0;
              width:15px;
              height:16px;
              background:image-url('sprite.png') -180px -60px no-repeat;
            }
          }
        }
        span{
          margin:0 0 0 20px;
          color:#fff;
          font-weight: bold;
          font-size:13px;
          text-transform: uppercase;

        }
      }
      .loc-text{
        padding:0 20px;
        .loc-arrow{
          float:left;
          width:11px;
          height:11px;
          background:image-url('sprite.png') -240px -60px no-repeat;
        }
        span{
          float:left;
          padding:20px 0;
          color:#fff;
          font-size:13px;
        }
      }
    }
    .event-topics{
      padding:10px 0 0 0;
      .topic-label{
        background: #5f6871;
        line-height: 50px;
        color:#fff;
        font-size:13px;
        font-weight: bold;
        text-transform: uppercase;
        padding-left:20px;
        .topic-icon{
          display:inline-block;
          margin:0 10px -4px 0;
          width:11px;
          height:16px;
          background:image-url('sprite.png') -270px -60px no-repeat;
        }
      }
      .topic-text{
        padding:0 20px;
        .topic-arrow{
          float:left;
          width:11px;
          height:11px;
          background:image-url('sprite.png') -240px -60px no-repeat;
        }
        ul{
          margin:0;
          padding:30px 0 20px 0;
          list-style: none;
          li{
            float:left;
            width:100%;
            padding:10px 0;
            .speaker{
              float:left;
              width:30px;
              height:30px;
              a{
                float:left;
                width:30px;
                height:30px;
                img{
                  width:30px;
                  height:30px;
                  @include radius(5px);
                }
              }
            }
            .speaker-topic{
              padding:0 0 0 20px;
              display:inline-block;
              a{
                color:#fff;
                font-size:13px;
                text-transform: uppercase;
                font-weight: normal;
              }
              span{
                display:block;
                color:#b6d99f;
                font-size:13px;
              }
            }
          }
          .sep{
            float:left;
            width:100%;
            height:5px;
            background:image-url('sprite.png') 0 -50px repeat-x;
          }
        }
      }
    }
    .rsvp-going{
      padding:10px 0 0 0;
      .rsvp-label{
        background: #5f6871;
        line-height: 50px;
        color:#fff;
        font-size:13px;
        font-weight: bold;
        text-transform: uppercase;
        padding-left:20px;
        span{
          color:#7fcbe6;
        }
        .rsvp-icon{
          display:inline-block;
          margin:0 10px -4px 0;
          width:14px;
          height:16px;
          background:image-url('sprite.png') -300px -60px no-repeat;
        }
      }
      .dk_container{
      	margin-top: 30px;
      	margin-left: -10px;
      }
      .rsvp-text{
        .rsvp-arrow{
          float:left;
          width:11px;
          height:11px;
          margin-left:20px;
          background:image-url('sprite.png') -240px -60px no-repeat;
        }
        ul.going-list{
          margin:0;
          padding:20px;
          list-style:none;
          li{
            float:left;
            width:30px;
            height:30px;
            margin-right:10px;
            margin-bottom:10px;
            a{
              float:left;
              width:30px;
              height:30px;
              img{
                width:30px;
                height:30px;
                @include radius(5px);
              }
            }
          }
        }
        .going-form{
          padding:30px 0 0 20px;
        }
        .rsvp-stat{
          display:block;
          margin:10px 0;
          .stat-title{
            display:inline-block;
            line-height:40px;
            -webkit-border-top-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            -moz-border-radius-bottomright: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            padding:0 20px 0 25px;
            color:#fff;
            font-weight: bold;
            font-size:13px;
            text-transform: uppercase;
            text-align: center;
            background:#5f6871;
          }
          .stat-list{
            ul{
              display:block;
              width:220px;
              margin:0;
              padding:20px;
              list-style:none;
              li{
                float:left;
                width:30px;
                height:30px;
                margin-right:10px;
                margin-bottom:10px;
                a{
                  float:left;
                  width:30px;
                  height:30px;
                  img{
                    width:30px;
                    height:30px;
                    @include radius(5px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
footer{
	padding:30px 0 40px 0;
	background:#707982;

	.margintop{
		margin-top:20px;
	}

	a.footer-moru-logo{
		float:left;
		width:50px;
		height:50px;
		background:image-url("sprite.png") 0 0 no-repeat;
	}
	.moru-desc{
		padding:0 0 0 60px;
		h2{
			color:#fff;			
			font-weight: bold;
      margin-bottom:10px;
		}
		span{
			color:#fff;
			font-size:13px;
		}
	}
	.footer-menu{
		display:block;
		text-align: right;
		a{
			color:#fff;
			font-size:13px;
			font-weight: bold;
			&:hover{
				color:#7fcde8;
			}
		}
		span{
			color:#b2d39d;
			font-weight: bold;
			margin:0 10px;
		}
	}

	.footer-social{
		float:left;
    padding-left:50px;
		a{
			margin-left:10px;
		}	
		.f-social-git{
			float:left;
			width:20px;
			height:20px;
			background:image-url("sprite.png") -340px 0 no-repeat;	
		}
		.f-social-twitter{
			float:left;
			width:20px;
			height:20px;
			background:image-url("sprite.png") -370px 0 no-repeat;	
		}
		.f-social-facebook{
			float:left;
			width:20px;
			height:20px;
			background:image-url("sprite.png") -400px 0 no-repeat;		
		}
		.f-social-rss{
			float:left;
			width:20px;
			height:20px;
			background:image-url("sprite.png") -430px 0 no-repeat;			
		}

	}
	.developed_by{
    float:right;
		font-size:12px;
		color:#a6a7a8;
		text-transform: uppercase;
		line-height: 30px;
	}
}

/******************************************/
/************** BEGIN EVENT CSS ***********/

.event-container{
	#event-list{
		overflow:hidden;
		padding:40px 0 0 0;
		margin:0;
		list-style-type: none; 
		.box{
			float:left;
			@include radius(5px);
			background:#fff;
			margin-bottom:40px;
			width:460px;

			.event-up{
        background:#707982 image-url("event-bottom-bg.png") bottom repeat-x;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding:30px;
				.event-title{
					display:inline-block;
					a{
						float:left;
						font-size:15px;
						font-weight: bold;
            color:#7fcde8;
						text-transform: uppercase;
					}
				}
        .event-info{
          margin:5px 0 0 0;
          span{
            float:left;
            font-size:12px;
            color:#fff;
            margin-right:20px;
            text-transform: uppercase;
          }

        }
			}
      .event-body{
        padding:30px 30px 20px 30px;
        ul.event-topics{
          display:block;
          overflow:hidden;
          @include none_styled_ul;
          li{
            display:block;
            text-align: left;
            margin:0 0 10px 0;
            i.list-icon{
              float:left;
              width:14px;
              height:14px;
              margin:3px 10px 0 0;
              background:image-url("sprite.png") -60px -200px no-repeat;
            }
            a.speaker{
              color:#333;
              font-size:13px;
              font-weight: normal;
              text-transform: uppercase;
              margin-right:5px;
            }
            a.event-topic{
              color:#00a8e7;
              font-size:13px;
              font-weight: normal;
            }
          }
        }
      }
		}
	}
}

/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 25px;
	right: 50px;
  z-index: 100;
}
/* arrow icon (span tag) */
#back-top span {
	float:left;
	width: 10px;
	height: 15px;
	margin:3px 10px 0 0;
	background:image-url('up-arrow.png') no-repeat center center;
	
}

/*************** END EVENT CSS ************/
/******************************************/


/******************************************/
/*************** BEGIN TOPIC CSS ************/

.create-topic{
  text-align:center;
  @include radius(10px);		
	background:#fff;
	padding:20px 0;
  margin-top:40px;
  box-shadow: 0 1px rgba(0,0,0,0.2);
  span{
    color:#444;
    font-size:14px;
    font-weight:bold;
    text-transform: uppercase;
    padding:0 10px;
  }
}

.post-item-modal{
	margin-bottom: 40px;
}

.topic-filter{
  padding:0 1px 1px 1px;
  overflow: hidden;
    a{
      float:left;
      @include radius(5px);
      background:#fff;
      padding:10px 20px;
      margin-right:20px;
      box-shadow: 0 1px rgba(0,0,0,0.2);
      font-size:11px;
      font-weight: normal;
      color:#444;
      text-transform: uppercase;
    }
    .selected{
      background:#00a8e7;
      color:#fff;
    }
    .past-topic{
      float:right;
      background:#707982;
      //background:#707982;
      color:#fff;
      padding:0 20px 0 0;
      line-height:40px;
      @include radius(5px);
      margin-right:0;
      i.talked-icon{
        float:left;
        width:40px;
        height:40px;
        margin-right:20px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background:#5f6871 image-url("sprite.png") -230px -91px no-repeat;
      }
    }
}

.list-view{
  .topic-item{
    width:auto !important;
    .topic-user{
      width:520px !important;
      a {
        margin: {
          right: 10px;
        }
      }
    }
  }
}
.topic-list{
	margin-bottom:60px;
	.topic-item-s{
		margin-top:40px;
    box-shadow: 0 1px rgba(0,0,0,0.2);
    .topic-header{
      position:relative;
      padding:15px 0;
      background:#707982 image-url("topic-bg.png") center repeat-x;
      height: 80px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .topic-vote{
        position:absolute;
        height:50px;
        top:30px;
        right:-20px;
        a.votable {
          float:left;
          width:40px;
          height:50px;
          background:#5f6871 image-url("sprite.png") -287px -83px no-repeat;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        a.up-voted{
          float:left;
          width:40px;
          height:50px;
          background:#61b0cc image-url("sprite.png") -287px -83px no-repeat;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          &:hover{
            background:#b4514c image-url("sprite.png") -347px -82px no-repeat;
          }
        }
        .poll-stat{
          float:left;
          line-height:10px;
          -webkit-border-top-right-radius: 5px;
          -webkit-border-bottom-right-radius: 5px;
          -moz-border-radius-topright: 5px;
          -moz-border-radius-bottomright: 5px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          padding:20px;
          background:#7fcde8;
          font-size:20px;
          font-weight: bold;
          color:#fff;

        }
      }
      a.past-event{
        display:inline-block;
        width:30px;
        height:82px;
        background:image-url("sprite.png") 0 -170px no-repeat;
        position:absolute;
        top:-3px;
        left:10px;
      }
      .avatar{
        float:left;
        width:50px;
        height:50px;
        margin:10px 0 0 23px;
        @include radius(5px);
        overflow:hidden;
        img{
          @include radius(5px);
          width:50px;
          height:50px;
        }
      }
      .past-avatar{
        margin-left:70px;
      }
      .topic-text{
         display:inline-block;
         margin:0 0 0 30px;
         text-transform: uppercase;
        a.topic-title{
          float:left;
          color: #7fcde8;
          font-size: 15px;
          font-weight: bold;
        }
        .topic-tool{
          clear:left;
          padding-top:4px;
          span{
            float:left;
            color:#fff;
            font-size:11px;
            margin:0 20px 0 0;
            i{
              float:left;
              margin-right:10px;
            }
          }
          span.topic-author{
            i.author{
              width:16px;
              height:15px;
              margin-top:1px;
              background:image-url("sprite.png") -80px -120px no-repeat;
            }
          }
          span.topic-date{
            i.date{
              width:13px;
              height:14px;
              margin-top:2px;
              background:image-url("sprite.png") -110px -120px no-repeat;
            }
          }
          span.topic-comment{
            i.comment{
              width:14px;
              height:13px;
              margin-top:5px;
              background:image-url("sprite.png") -140px -120px no-repeat;
            }
          }
        }
      }
    }
    .topic-body{
      background:#fff;
      padding:28px;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      .left-tool{
        float:left;
        width:205px;
        .topic-speaker{
          float:left;
          height:40px;
          width:175px;
          background:#b6d99f;
          box-shadow: 0 1px rgba(0,0,0,0.2);
          @include radius(5px);
          .presenter{
            float:left;
            @include radius(5px);
            padding:0 10px 0 0;
            height:40px;
            img{
              float:left;
              @include radius(5px);
              width:40px;
              height:40px;
            }
            span{
              float:left;
              color:#fff;
              font-size:12px;
              font-weight: bold;
              text-transform: uppercase;
              margin:10px 0 0 10px;
            }
          }
          a.speak-topic{
            float:left;
            img{
              float:left;
              width:40px;
              height:40px;
              -webkit-border-top-left-radius: 5px;
              -webkit-border-bottom-left-radius: 5px;
              -moz-border-radius-topleft: 5px;
              -moz-border-radius-bottomleft: 5px;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
            span{
              float:left;
              color:#fff;
              font-size:12px;
              font-weight: bold;
              text-transform: uppercase;
              margin:10px 0 0 10px;
            }
          }
        }
      }
      .right-tool{
        span{
          color:#444;
          font-size:13px;
        }
      }
    }
    .topic-show-tools{
      padding:0 20px 20px 20px;
      overflow:hidden;
    }
		.topic-tools, .topic-show-tools{
      .presenter{
        float:left;
        background:#707982;
        @include radius(5px);
        padding:0 10px 0 0;
        height:30px;
        img{
          float:left;
          @include radius(5px);
          width:30px;
          height:30px;
        }
        span{
          float:left;
          color:#fff;
          font-size:12px;
          font-weight: bold;
          text-transform: uppercase;
          margin:6px 0 0 10px;
        }
        a.remove {
          float:right;
          width:15px;
          height:15px;
          margin:8px 0 0 10px;
          background:url("sprite.png") -80px -60px no-repeat;
        }
      }
			a.speak-topic{
				float:left;
				background:#707982;
				text-transform: uppercase;
				@include radius(5px);
				color:#fff;
				font-size:12px;
				font-weight: bold;
				padding:5px 20px;
				&:hover{
          background: #858f9a;
				}
        &:active{
          background: #4f5861;
        }
			}
		}
    .topic-tools{
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background:#e1e5ea;
      margin:0 10px;
      padding:10px;
      ul.topic_view {
        @include none_styled_ul;
        li{
          float:left;
          height:30px;
          margin-right:10px;
          span{
            float:left;
            color:#444;
            font-weight: bold;
            text-transform: uppercase;
            font-size:12px;
            margin-top:5px;
          }
          a{
            float:left;
            width:30px;
            height:30px;
            img{
              width:30px;
              height:30px;
              @include radius(5px);
            }
          }
        }
      }
    }
	}
  .voted-members{
    padding:40px 0 0 0;

    ul{
      display:block;
      background:blue;
      @include none_styled_ul;
      li{
        float:left;
        margin:0 10px 10px 0;
         img{
           border: 3px dashed white!important;
           padding: 5px;
           margin-bottom: 5px;
           margin-right: 5px;
           transition: opacity .2s ease-in-out;
           -moz-transition: opacity .2s ease-in-out;
           -webkit-transition: opacity .2s ease-in-out;
           -o-transition: opacity .2s ease-in-out;
           -ms-transition: opacity .2s ease-in-out;
           width: 50px;
           height: 50px;
           @include radius(100%);
           &:hover{
             opacity: 0.6;
             -khtml-opacity: 0.6;
             -moz-opacity: 0.6;
             -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
             filter: alpha(opacity=60);
             cursor: pointer;
           }
         }

      }
    }
  }
}
/*************** END TOPIC CSS ************/
/******************************************/

 /******************************************/
 /********* BEGIN EVENT VIEW CSS ***********/
 .event-view-container{
    .event-content{
       @include radius(5px);
       background:#fff;
       padding:20px;
      .event-map{

      }
      .event-text{
        padding:20px 0 0 0;
        overflow:hidden;
        .event-topic-schedule{
          float:left;
          width:115px;
          margin-right:20px;
          .event-date{
            overflow:hidden;
            padding:10px 15px;
            background:#7fcde8;
            @include radius(5px);
            text-align: center;
            span{
              color:#fff;
              font-weight: bold;
              font-size:25px;
            }
            em{
              display:block;
              font-size:13px;
              text-align: center;
              color:#fff
            }
          }
          .event-time{
             margin-top:20px;
             padding:10px 15px;
             background:#b6d99f;
             @include radius(5px);
            text-align: center;
             span{
               color:#fff;
               font-weight: bold;
               font-size:25px;
             }
          }
        }
        .event-topic-text{
          overflow:hidden;
          h2{
            color:#00a8e7;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
          }
          span{
            display:block;
            margin:10px 0 0 0;
            font-size:13px;
            text-align: left;
          }
          ul{
            overflow:hidden;
            @include none_styled_ul();
            li{

            }
          }

        }
      }
      .event-bottom-tool{
        padding:40px 0 0 0;
        ul.social-buttons{
          float:left;
          background:#e1e5ea;
          @include none_styled_ul();
          @include radius(5px);
          padding:10px 10px 10px 20px;
          li{
            float:left;
            margin:0 10px 0 0;
            a.social-twitter{
              float:left;
              width:30px;
              height:30px;
              @include radius(3px);
              @include transit;
              background:#5f6871 image-url("sprite.png") -140px 0 no-repeat;
              &:hover{
                background-color:#32ccff;
              }
            }
            a.social-facebook{
              float:left;
              width:30px;
              height:30px;
              @include radius(3px);
              @include transit;
              background:#5f6871 image-url("sprite.png") -260px 0 no-repeat;
              &:hover{
                background-color:#3b5998;
              }
            }
            a.social-github{
              float:left;
              width:30px;
              height:30px;
              @include radius(3px);
              @include transit;
              background:#5f6871 image-url("sprite.png") -180px 0 no-repeat;
              &:hover{
                background-color:#4c8ac7;
              }
            }
            a.social-google_oauth2{
              float:left;
              width:30px;
              height:30px;
              @include radius(3px);
              @include transit;
              background:#5f6871 image-url("sprite.png") -220px 0 no-repeat;
              &:hover{
                background-color:#d6492d;
              }
            }
          }
        }
        a.event-members{
          float:right;
          background:#7fcde8;
          @include radius(5px);
          color:#fff;
          font-weight: bold;
          font-size:13px;
          padding:0 20px;
          text-align: center;
          text-transform: uppercase;
          line-height: 50px;
          &:hover{
            background:#99d8ed;
          }
          &:active{
            background:#61b0cc;
          }
        }
      }
    }
   .member-list{
     margin:0 10px;
     padding:10px;
     background: #e1e5ea;
     -webkit-border-bottom-right-radius: 5px;
     -webkit-border-bottom-left-radius: 5px;
     -moz-border-radius-bottomright: 5px;
     -moz-border-radius-bottomleft: 5px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     ul{
        @include none_styled_ul;
       li{
        float:left;
        height:30px;
         margin-right:10px;
         a{
           float:left;
           width:30px;
           height:30px;
           img{
             width:30px;
             height:30px;
             @include radius(5px);
          }
         }
       }
     }
   }
 }
 .comment-container{
   padding:20px 0;
   .write-comment{
     padding:30px 0 0 0;
     .write-title{
       padding:0 20px;
       line-height: 60px;
       background:#5f6871;
       -webkit-border-top-left-radius: 5px;
       -webkit-border-top-right-radius: 5px;
       -moz-border-radius-topleft: 5px;
       -moz-border-radius-topright: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
       span{
         float:left;
         color:#fff;
         font-weight: bold;
         text-transform: uppercase;
         font-size:15px;
       }
       span.comment-count{
         float:right;
         color: #b6d99f;
         font-size:12px;
         text-transform: uppercase;
         em{
           padding:0 0 0 5px;
         }
       }
     }
     .write-field{
       img{
         float:left;
         width:50px;
         height:50px;
         margin-right:20px;
         @include radius(5px);
       }
       textarea{
         float:left;
         background:#e1e5ea;
         @include radius(5px);
         border:none;
         width:570px;
         height:94px;
         padding:10px;
         text-align: left;
       }
       span{
         float:right;
         margin:15px 0 0 0;
         color:#aeaeae;
         font-size:11px;
         text-transform: uppercase;
         em{
           color:#00a8e7;
         }
       }
     }
   }
   .comment-list{
     .comment-item{
       margin:20px 0 0 0;
       img{
         float:left;
         width:50px;
         height:50px;
         margin-right:30px;
         @include radius(5px);
       }
       .item-left{
         position:relative;
         float:left;
         width:520px;
         background:#fff;
         padding:30px;
         @include radius(5px);
         .comment-arrow{
           float:left;
           width:10px;
           height:10px;
           overflow:hidden;
           position:absolute;
           left:-10px;
           top:20px;
           background:image-url("sprite.png") -80px -100px no-repeat;
         }
         .comment-info{
           overflow:hidden;
           span{
             float:left;
             color:#00a8e7;
             text-transform: uppercase;
             font-size:14px;
             font-weight: bold;
             line-height:16px;
           }
           em{
             float:right;
             color:#aeaeae;
             font-size:11px;
             line-height:12px;
             text-transform: uppercase;
             i.comment-date{
               float:left;
               width:12px;
               height:12px;
               margin-right:5px;
               background:image-url("sprite.png") -110px -60px no-repeat;
             }
           }
           a.edit-comment{
             float:left;
             width:15px;
             height:15px;
             margin:0 0 0 20px;
             background:image-url("sprite.png") -140px -170px no-repeat;
           }
           a.remove-comment{
             float:left;
             width:15px;
             height:15px;
             margin:0 0 0 10px;
             background:image-url("sprite.png") -80px -60px no-repeat;
           }
         }
         .comment-text{
           margin-top:10px;
           input{
             border:none;
             border-top:1px dashed #c3ced9;
             border-bottom:1px dashed #c3ced9;
           }
         }
       }
     }
   }
 }
 /********** END EVENT VIEW CSS ************/
 /******************************************/

 /*********************************************/
 /********** BEGIN GLOBAL TOOLTIP CSS *********/
 .tooltip {
   position: absolute;
   z-index: 1030;
   display: block;
   padding: 5px;
   font-size: 11px;
   opacity: 0;
   filter: alpha(opacity=0);
   visibility: visible;
 }

 .tooltip.in {
   opacity: 0.8;
   filter: alpha(opacity=80);
 }

 .tooltip.top {
   margin-top: -3px;
 }

 .tooltip.right {
   margin-left: 3px;
 }

 .tooltip.bottom {
   margin-top: 3px;
 }

 .tooltip.left {
   margin-left: -3px;
 }

 .tooltip-inner {
   max-width: 200px;
   padding: 3px 8px;
   color: #ffffff;
   text-align: center;
   text-decoration: none;
   background-color: #000000;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
 }

 .tooltip-arrow {
   position: absolute;
   width: 0;
   height: 0;
   border-color: transparent;
   border-style: solid;
 }

 .tooltip.top .tooltip-arrow {
   bottom: 0;
   left: 50%;
   margin-left: -5px;
   border-top-color: #000000;
   border-width: 5px 5px 0;
 }

 .tooltip.right .tooltip-arrow {
   top: 50%;
   left: 0;
   margin-top: -5px;
   border-right-color: #000000;
   border-width: 5px 5px 5px 0;
 }

 .tooltip.left .tooltip-arrow {
   top: 50%;
   right: 0;
   margin-top: -5px;
   border-left-color: #000000;
   border-width: 5px 0 5px 5px;
 }

 .tooltip.bottom .tooltip-arrow {
   top: 0;
   left: 50%;
   margin-left: -5px;
   border-bottom-color: #000000;
   border-width: 0 5px 5px;
 }

/********** END GLOBAL TOOLTIP CSS ***********/
/*********************************************/

 .sedev{
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -o-border-radius: 10px;
   -khtml-border-radius: 10px;
   width: 540px !important;
 }

 .sedev .modal-header{
   background: #b6d99f;
   padding: 15px 30px;
   border-bottom: none;
   -webkit-border-top-left-radius: 10px;
   -webkit-border-top-right-radius: 10px;
   -moz-border-radius-topleft: 10px;
   -moz-border-radius-topright: 10px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   -o-border-top-left-radius: 10px;
   -o-border-top-right-radius: 10px;
   -khtml-border-top-left-radius: 10px;
   -khtml-border-top-right-radius: 10px;
 }

 .sedev .modal-header h3{
   text-transform: uppercase;
   font-size: 15px;
   font-weight: bold;
   color: white;
 }

 .sedev .sedev_container{
   padding: 20px 30px;
   margin-top:20px;
   overflow: hidden;
   #feedback_notifications{
     margin-top:0;
   }
 }

 .sedev_garchig #topic_title{
   background: #e1e5ea;
   border: none;
   width: 360px;
   height: 40px;
   padding: 0 15px;
   box-shadow: inset 0 1px 1px rgba(0,0,0,0.2)!important;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2)!important;
   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2)!important;
   -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2)!important;
   -khtml-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2)!important;
   -webkit-border-top-left-radius: 0;
   -webkit-border-bottom-left-radius: 0;
   -moz-border-radius-topleft: 0;
   -moz-border-radius-bottomleft: 0;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   -o-border-top-left-radius: 0;
   -o-border-bottom-left-radius: 0;
   -khtml-border-top-left-radius: 0;
   -khtml-border-bottom-left-radius: 0;
 }

 .sedev_garchig span{
   padding:0 20px;
   text-transform: uppercase;
   color: white;
   font-weight: bold;
   float: left;
   background: #707982;
   height: 40px;
   text-align: center;
   line-height: 40px;
   -webkit-border-top-left-radius: 3px;
   -webkit-border-bottom-left-radius: 3px;
   -moz-border-radius-topleft: 3px;
   -moz-border-radius-bottomleft: 3px;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   -o-border-top-left-radius: 3px;
   -o-border-bottom-left-radius: 3px;
   -khtml-border-top-left-radius: 3px;
   -khtml-border-bottom-left-radius: 3px;
 }
 .sedev_inf{
   float:left;
   width: 450px;
   padding: 15px;
   height: 100px;
   background: #e1e5ea;
   border: none;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -o-border-radius: 3px;
   -khtml-border-radius: 3px;
   box-shadow: inset 0 1px 1px rgba(0,0,0,0.2)!important;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2)!important;
   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2)!important;
   -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2)!important;
   -khtml-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2)!important;
 }

 .sedev .sedev_buttons{
   float: right;
   margin-top: 20px;
   margin-bottom: 10px;
 }

 .sedev_buttons .tovch{
   height: 40px;
   border: none;
   font-size: 13px;
   font-weight: bold;
   text-transform: uppercase;
   color: white;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -o-border-radius: 3px;
   -khtml-border-radius: 3px;
   padding: 0 20px;
   box-shadow: inset 0 -1px rgba(0,0,0,0.2);
   -webkit-box-shadow: inset 0 -1px rgba(0,0,0,0.2);
   -moz-box-shadow: inset 0 -1px rgba(0,0,0,0.2);
   -o-box-shadow: inset 0 -1px rgba(0,0,0,0.2);
   -khtml-box-shadow: inset 0 -1px rgba(0,0,0,0.2);
   i.tovhc-icon{
     float:left;
     width:35px;
     height:40px;
     background:image-url("sprite.png") 0 -170px no-repeat;
   }
 }

 .sedev_buttons .sedev_send{
   padding-left: 55px;
   background: #00a8e7 url("icon_send.png") left no-repeat;
   margin-left: 15px;
 }

 .sedev_buttons .sedev_close{
   background: #707982;
 }

a.feedback{
  float:right;
  margin-top:40px;
  @include moru_button();
}

#feedback_content {
  width: 450px;
}

#feedback_notifications {
  width: 450px;
  margin: 20px auto 0 auto;
}

.alert {
  li {
    list-style: none;
  }
}

.error_container {
  margin: {
    left: 215px;
    top: 120px;
    bottom: 120px;
  }
   }

/***********************************/
/******** BEGIN PROFILE CSS ********/
 .profile-container{
   margin:40px 0;
   background:#e1e5ea;
   box-shadow: 0 1px rgba(0,0,0,0.2);
   @include radius(5px);
   .profile-header{
     position:relative;
     padding:30px;
     width:600px;
     height:55px;
     background:image-url("profile-header.png");

     .header-arrow{
       display:inline-block;
       position:absolute;
       width:15px;
       height:15px;
       left:30px;
       bottom:-15px;
       background:image-url("sprite.png") -60px -170px no-repeat;
     }
     .profile-avatar{
       float:left;
       width:50px;
       height:50px;
       img{
         width:50px;
         height:50px;
         @include radius(5px);
       }
     }
     .profile-name{
       float:left;
       padding:0 0 0 30px;
       span{
         color:#7fcde8;
         text-transform: uppercase;
         font-weight: bold;
         font-size:18px;
       }
       a.edit-me{
         display:inline-block;
         margin:0 0 0 20px;
         width:15px;
         height: 15px;
         background:image-url("sprite.png") -140px -170px no-repeat;
       }
       em{
         padding:10px 0 0 0;
         display:block;
         font-style:normal;
         font-size:11px;
         color:#fff;
         text-transform: uppercase;
       }
     }
   }
   .profile-body{
     padding:40px 30px;
     .profile-topic{
       .topic-hd{
         overflow:hidden;
         padding:0 0 30px 0;
         .topic-label{
           float:left;
           width:40px;
           height:32px;
           padding-top:8px;
           text-align:center;
           color:#e1e5ea;
           @include radius(5px);
           background:#707982;
         }
         span{
           float:left;
           color:#707982;
           text-transform: uppercase;
           font-size: 15px;
           font-weight: bold;
           margin:8px 0 0 20px;
         }
       }
       ul.current_user_topic{
         @include none_styled_ul();
         li{
           background: #707982;
           margin-bottom: 10px;
           height:30px;
           @include radius(5px);
           a{
             float:left;
             color:#fff;
             font-size:13px;
             text-transform: uppercase;
             font-weight: normal;
             margin:5px 0 0 20px;
           }
           .comment{
             float:right;
             height:30px;
             background:#b6d99f;
             padding:0 15px;
             i.comment-icon{
               float:left;
               width:10px;
               height:9px;
               margin:11px 10px 0 0;
               background:image-url("sprite.png") -80px -170px no-repeat;
             }
             span{
               float:left;
               color:#fff;
               margin:5px 0 0 0;
               font-size:13px;
               text-transform: uppercase;
             }
           }
           .vote{
             float:right;
             height:30px;
             background:#7fcde8;
             padding:0 15px;
             -webkit-border-top-right-radius: 5px;
             -webkit-border-bottom-right-radius: 5px;
             -moz-border-radius-topright: 5px;
             -moz-border-radius-bottomright: 5px;
             border-top-right-radius: 5px;
             border-bottom-right-radius: 5px;
             i.vote-icon{
               float:left;
               width:10px;
               height:10px;
               margin:9px 10px 0 0;
               background:image-url("sprite.png") -110px -170px no-repeat;
             }
             span{
               float:left;
               margin:5px 0 0 0;
               color:#fff;
               font-size:13px;
               text-transform: uppercase;
             }
           }
         }
       }
     }
   }
 }
/******** END PROFILE CSS **********/
/***********************************/

/********* GLOBAL CSS **************/

 .next-event2{
   margin:83px 0 0 0;
   .up{
     position:absolute;
     width:100%;
     height:3px;
     background:image-url("event-up-bg.png") repeat-x;
     left:0;
     top:-3px;
   }
   position:relative;
   padding:30px 0;
   background:#707982 image-url("event-bottom-bg.png") bottom repeat-x;

   .event-left{
     float:left;
     width:460px;
     .event-location{
       width:430px;
       height:140px;
       margin:0 0 0 30px;
     }
    .rsvp-label{
      width:460px;
      padding:20px 0 0 0;
      .ask-rsvp{
        float:left;
        background:#b6d99f;
        height:32px;
        width:130px;
        padding:8px 30px 0 30px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        i.rsvp-icon{
          float:left;
          width:14px;
          height: 15px;
          margin:3px 10px 0 0;
          background:image-url("sprite.png") -110px -200px no-repeat;
        }
        span{
          font-size:12px;
          font-weight: bold;
          color:#fff;
          text-transform: uppercase;
        }
      }
      .rsvp-select{
        float:right;
        width:220px;
        background:blue;
        .dk_container{
          display:inline;
          height:40px;
        }
      }
    }
    .social-links{
      padding:20px 0 0 30px;
      a{
        float:left;
        width:40px;
        height:40px;
        margin-right:20px;
        @include radius(5px);
        background-color:#5f6871;
      }
      a.tweet-event{
         background:#5f6871 image-url("sprite.png") -135px 5px no-repeat;
      }
      a.fb-event{
        background:#5f6871 image-url("sprite.png") -255px 5px no-repeat;
      }
      a.gplus-event{
        background:#5f6871 image-url("sprite.png") -215px 5px no-repeat;
      }
      span.rsvp-count{
        float:right;
        height:30px;
        padding:10px 20px 0 20px;
        @include radius(5px);
        color:#fff;
        font-size:12px;
        font-weight: normal;
        background-color:#5f6871;
      }
    }
   }
   .event-right{
     float:left;
     padding:0 30px 0 40px;
     width:430px;
     .event-title{
       display:inline-block;
       a{
         float:left;
         font-size:15px;
         font-weight: bold;
         color:#7fcde8;
         text-transform: uppercase;
       }
     }
     .event-info{
       margin:5px 0 0 0;
       i{
         margin-right:10px;
       }
       span{
         float:left;
         font-size:12px;
         color:#fff;
         margin-right:30px;
         text-transform: uppercase;
       }
     }
     .event-body{
       clear:left;
       color:#fff;
       padding:20px 0 20px 0;
     }
     ul.current_user_topic{
       @include none_styled_ul();
       li{
         background: #5f6871;
         margin-bottom: 10px;
         height:30px;
         @include radius(5px);
         a{
           float:left;
           color:#fff;
           font-size:13px;
           text-transform: uppercase;
           font-weight: normal;
           margin:5px 0 0 20px;
         }
         .comment{
           float:right;
           height:30px;
           background:#b6d99f;
           padding:0 15px;
           i.comment-icon{
             float:left;
             width:10px;
             height:9px;
             margin:11px 10px 0 0;
             background:image-url("sprite.png") -80px -170px no-repeat;
           }
           span{
             float:left;
             color:#fff;
             margin:5px 0 0 0;
             font-size:13px;
             text-transform: uppercase;
           }
         }
         .vote{
           float:right;
           height:30px;
           background:#7fcde8;
           padding:0 15px;
           -webkit-border-top-right-radius: 5px;
           -webkit-border-bottom-right-radius: 5px;
           -moz-border-radius-topright: 5px;
           -moz-border-radius-bottomright: 5px;
           border-top-right-radius: 5px;
           border-bottom-right-radius: 5px;
           i.vote-icon{
             float:left;
             width:10px;
             height:10px;
             margin:9px 10px 0 0;
             background:image-url("sprite.png") -110px -170px no-repeat;
           }
           span{
             float:left;
             margin:5px 0 0 0;
             color:#fff;
             font-size:13px;
             text-transform: uppercase;
           }
         }
       }
     }
   }
 }

 .title-label{
   margin:0 0 20px 0;
   padding:20px 0;
   span{
     float:left;
     color:#707982;
     text-transform: uppercase;
     font-size:15px;
     font-weight: bold;
     line-height:5px;
     padding:0 20px 0 0;
     background:#f1f3f5;
   }
   .line{
     width:100%;
     background:#fff;
     height:3px;
   }
 }

i.icon-location {
   float:left;
   width:10px;
   height:14px;
   margin:2px 5px 0 0;
   background:image-url("sprite.png") 0 -60px no-repeat;
 }

 i.date{
   float:left;
   width:13px;
   height:14px;
   margin:2px 5px 0 0;
   background:image-url("sprite.png") -110px -120px no-repeat;
 }
 i.comment{
   float:left;
   width:14px;
   height:13px;
   margin:4px 5px 0 0;
   background:image-url("sprite.png") -140px -120px no-repeat;
 }
