<footer class="clearfix">
	<div class="container_10">
		<div class="grid_10">
			
			<div class="grid_6 alpha">
				 <a href="javascript:void(0)" class="footer-moru-logo"></a> 

				 <div class="moru-desc">
				 	 <h2> MORU. </h2>
					 <span>
					 	MORU буюу Mongolian Rubyist бүлгэм нь Ruby програмчлалын хэл, 
						Ruby on Rails технологи, вэб хөгжүүлэх сүүлийн үеийн арга, 
						технологиудыг судлах, түгээн дэлгэрүүлэх зорилготой бүлгэм юм.
					 </span>
				 </div>
			</div>

			<div class="grid_4 omega">
				<div class="footer-menu">
          <%= link_to "Нүүр.", root_path %><span>//</span>
					<a href="javascript:void(0)">Блог.</a><span>//</span>
          <%= link_to "Уулзалт.", events_path %><span>//</span>
          <%= link_to "Сэдэв.", topics_path %>
				</div>
			</div>
		</div>

		<div class="grid_10 margintop">
			<div class="grid_6 alpha">
        <a href="javascript:void(0)" class="dev_by">&copy;&nbsp;<%= Time.now.year %> galtgarid soft llc</a>
			</div>
					
			<div class="grid_4 omega">
				<div class="footer-social">
					<a href="javascript:void(0)" class="f-social-git"></a>
					<a href="javascript:void(0)" class="f-social-twitter"></a>
					<a href="javascript:void(0)" class="f-social-facebook"></a>
					<a href="javascript:void(0)" class="f-social-rss"></a>
				</div>
			</div>
		</div>
	</div>
</footer>
